@use 'src/styles/core/mixin' as m;

.signup {
  &__form {
    @include m.flex(column nowrap, $ai: center, $jc: stratch, $gap: 16px);

    margin-top: 16px;
  }

  &__footer {
    width: 100%;

    @include m.flex($jc: space-between, $ai: center);
  }

  &__button {
    margin-left: auto;
  }
}
